@model PTC.ViewModels.TrainingProductViewModel

@{
    ViewBag.Title = "SPA Demo";
}

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    <!-- Hidden fields area -->
    @Html.HiddenFor(m => m.EventCommand, new { id = "eventCommand" });
    <!-- Search area -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Search for products</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.SearchEntity.ProductName, "Product Name")
                @Html.TextBoxFor(model => model.SearchEntity.ProductName,
                    "", new { @class="form-control" })
            </div>
        </div>
        
        <div class="panel-footer">
            <input type="button" id="btnSearch" value="Search"
                   class="btn btn-primary btn-sm" data-ptc-action="search" /> 
            <i class="glyphicon glyphicon-search"></i>
            
            @*value="Search"*@

            <input type="button" id="btnResetSearch" value="Reset"
                   class="btn btn-primary btn-sm" data-ptc-action="resetsearch"> @*value="Reset"*@ 
        </div>
    </div>


    <!-- List area -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Introduction Date</th>
                <th>Url</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.IntroductionDate</td>
                        <td>@item.Url</td>
                        <td>@item.Price.ToString("c")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts
{
    <script>
        //var handler = new indexHandlers();
        var elem = document.getElementById("btnSearch").addEventListener("click",
            function(e) {
                e.preventDefault();
                var attrValue = this.dataset.ptcAction;
                var hiddenElem = document.getElementById("eventCommand");
                if (hiddenElem) {
                    hiddenElem.value = attrValue;
                }
                this.form.submit();
            });

        document.getElementById("btnResetSearch").addEventListener("click",
            function(e) {
                e.preventDefault();
                var attrValue = this.dataset.ptcAction;
                var hiddenElem = document.getElementById("eventCommand");
                if (hiddenElem) {
                    hiddenElem.value = attrValue;
                }
                this.form.submit();
            });
    </script>
}
